/*Page 1*/
.button1{ text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;

     }




   /* Style the tab buttons */
.tablink {
       background-color: #555;
       color: white;
       float: left;
       border: none;
       outline: none;
       cursor: pointer;
       padding: 10px 10px;
       font-size: 17px;
       width: 14.28%;
   }

   /* Change background color of buttons on hover */
.tablink:hover {
       background-color: #777;
   }

   /* Set default styles for tab content */
.tabcontent {
       color: white;
       display: none;
       padding: 50px;
       text-align: center;
   }

 #Home {
     background-color: #EF008E;
   }
body{
   background-color: #ECF9FF;
}

footer{

    position: absolute;
    left: 50%;
}
p{
  font-size: 40px
}
.container{
  width:900px;
}
h4{
  font-size: 20px
}
